{{#each books as |book|}}

  <!-- {{> partial}}
  Don't uncomment yet -->
  
  <h1> <small>Title: {{book.title}}</small></h1>
  <div>
    {{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}
  </div>

{{/each}}
